@font-face {
    font-family: 'VictorMono Regular';
    src: url(./fonts/VictorMono/VictorMono-Regular.woff);
}
@font-face {
    font-family: 'VictorMono Italic';
    src: url(./fonts/VictorMono/VictorMono-Italic.woff);
}

.news {
    background-color: #11111b;
    h4 {
        color: a6adc8;
    }
}
.socials {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.headertext {
    text-align: center;
}

a {
    color: #89b4fa;
    text-decoration: none;
}

a:hover {
    color: #f5c2e7;
}

body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: auto;
    max-width: 48rem;
    font-family: 'VictorMono Regular', monospace;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
text-align: center;
}

footer {
    text-align: center;
}

h1 {
    font-family: 'VictorMono Italic', serif;
    font-variant-ligatures: none;
    color: #f5c2e7;
}
